@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar {
    display: flex;
    position: relative;    
    flex-wrap: wrap;
    padding: 16px;
    margin: 0 auto;
    /* max-width: 520px; */
    min-width: 581px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.month-year {
    margin-bottom: 23px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    color: #94A3B8;
}

.year {
    margin-left: 4px;
    color: #CBD5E1;
}

.days {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-right: 46px;
}

.day-label {
    position: relative;
    flex-basis: calc(14.286% - 2px);
    margin: 1px 1px 12px 1px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #1E293B;
    text-align: center;
}

.day {
    position: relative;
    flex-basis: calc(14.286% - 2px);
    margin: 1px;
    border-radius: 999px;
    font-weight: 300;
}

.day.dull , .day.past{
    color: #94A3B8;
}

.day.today {
    color: #0EA5E9;
    font-weight: 600;
}

.day::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.hover:hover, .today:hover {
    cursor: pointer;
    background: #E0F2FE;
}

.day .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.weekend {
    color: #F87171 !important;
}